---
layout: default
---

<h1 class="header">Drops</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <p>Beat The Meat (SFW)</p>
        <h2>Beat The Meat (SFW) is available <a class="link"
        href="https://beatthemeat.suspcs.xyz">here</a>.</h2>
      </div>
      <div class="card">
        <p>Rubber Bands</p>
        <h2>Rubber Bands is available <a class="link"
        href="https://rubberbands.suspcs.xyz">here</a>. It is also available as a Chrome Extension <a class="link" href="https://chrome.google.com/webstore/detail/rubber-bands/igcgchgbmfipngcphhofdbhabdjnmfie?hl=en&authuser=0">here.</a></h2>
      </div>
    </div>
  </div>
</div>
