<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUSPCS</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div include="/inc/nav.html"></div>
    <div class="body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <p>About</p>
                        <h2>Suspicious is an online magazine company specializing in modern and odd subjects.</h2>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <p>Magazines</p>
                        <h2>You can access our magazines <a class="link" href="/magazines">here</a>.</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <p>Articles</p>
                        <h2>We post articles on Apple News <a class="link" href="/news">here</a>.</h2>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <p>Drops</p>
                        <h2>Every new magazine comes a couple new drops. Drops are available <a class="link"
                                href="/drops">here</a>.</h2>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="header">Featured</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <p>Volume One: Bank</p>
                        <h2>Volume one, Bank, is available <a class="link" href="/magazines/vol-1/vol-1-bank">here</a>.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="header">Blog Posts</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    {% if site.posts.size > 0 %}
                        {% for post in site.posts %}
                        <div class="card">
                            <p>{{ post.date | date: site.theme_config.date_format }}</p> <h2><a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a></h2>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div include="/inc/foot.html"></div>
    <script src="/js/index.js"></script>
</body>

</html>
